*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F4F6F9;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}

button:focus {
  outline: none;
}

ul, ol {
  list-style: none;
}
